<% layout('layouts/boilerplate') %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br /><br>
    <h3>Create New Listing</h3>

    <form action="/listings" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter Title"
          required
          class="form-control"
        /><br /><br />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter Description"
          required
          class="form-control"
        ></textarea
        ><br />
        <br />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="Enter Image URL"
          required
          class="form-control"
        /><br /><br />
      </div>
      <div class="row">
        <div class ="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="Enter Price"
            required
            class="form-control"
          /><br /><br />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            required
            class="form-control"
          /><br /><br />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Enter Location"
          required
          class="form-control"
        /><br /><br />
      </div>
      <button  type="submit" class="btn btn-dark  add-btn mt-3">Create Listing</button>
      <br>
    </form>
  </div>
</div>
